@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    /**/
    background-color: #00796b;
    color: #333;
}

.image-slider img {
    width: 600px; /* Adjust the width as needed */
    height: 400px; /* Fixed height */
    object-fit: cover; /* Ensure the image covers the area */
}
  